* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--texttheme);
}

body {
    --bgtheme: white;
    --texttheme: black;
    --green-accent: #28CA9B;
    height: 200vh;
    background: var(--bgtheme);
    transition: background 2.5s;
}

html {
    scroll-behavior: smooth;
}

.cover-screen {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0F0F0F;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    z-index: 10;
}

.cover-screen h1 {
    color: #64E8B0;
    pointer-events: none;
}

.intro-text h1 {
    letter-spacing: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: sticky;
    width: 100%;
    height: 10vh;
}

.nav-items {
    height: 100%;
    width: 100%;

    list-style: none;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.nav-items li {
    padding: 5%;
    padding-left: 0;
    cursor: pointer;
    color: black;
    -webkit-transition: color 1s;
    transition: color 1s;
}

.nav-items li a {
    text-decoration: none;
    color: black;
}

.nav-items li a:hover {
    color: #28CA9B;
}

.cia-tag {
    position: absolute;
    left: 5%;
    font-weight: 1000;
}

header {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    scroll-snap-align: end;
}

.future {
    width: 50%;
}

.home-img img {
    position: absolute;
    width: 100%;
    top: 0;
    left: -5%;
    z-index: -10;
}

.home-img h1,
.home-img p {}

.two {
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.two div {
    width: 50vw;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.two div img {
    margin: 4%;
    width: 50%;
}

.two div p,
.two div h1 {
    text-align: center;
}


.philosophy {
    height: 100vh;
    position: relative;
}

.philosophy>h1 {
    padding: 2%;
    font-size: 3rem;
    text-align: center
}

.philosophy-texts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.philosophy-texts>div {
    margin: 2%;
    width: 40vw;
    text-align: center;
}

.philosophy img {

    position: absolute;
    bottom: 0;
    left: 50%;
    width: 35%;
    transform: translateX(-50%);
}

.events-projects {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.epnav>h1 {
    padding: 2%;
    font-size: 3rem;
    text-align: center
}

.epnav>h1 strong:nth-child(1) {
    color: #28CA9B;
}

.epnav>h1 strong {
    cursor: pointer;
}

.epnav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.epnav img {
    position: absolute;
    right: 10%;
    top: -15%;
    width: 40%;
    object-fit: contain;
    z-index: -10;
}


.events-section {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.event {
    width: 100%;
    margin: 1%;
    display: flex;
    padding: 1%;
    height: 40vh;
    
}

.event-img,
.about-event {
    width: 50%;
    height: 95%;
    margin: 1%;
}

.event-img {
    width: 40%;
}

.event-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.about-event {}

.old-events {
    width: 100%;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    background: white;
    border-radius: 8px;
    box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.178);
}

.old-events .event {
    flex: 0 0 auto;
    width: 50%;
    height: 90%;
    /* background: yellow; */
    display: flex;
    font-size: small;
}

.old-events .event .about-event {
    overflow: hidden;
}

/* 
.events-section::before {
    content: "";
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, rgba(255, 255, 255, 0.493));
    z-index: 10;
    pointer-events: none;
}

.event {
    width: 250px;
    height: 200px;
    margin: 10px;
    position: relative;
    border-radius: 10px;
    transition: transform 200ms;
}

.events-section>:first-child {
    width: 400px;
    height: 300px;
}

.event img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.123);
}



.event::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.719));
}

.event-date {
    position: absolute;
    background: var(--bgtheme);

    border-radius: 5px;
    padding: 10px;
    right: -20px;
    top: 10px;

    transition: padding 100ms, background 2000ms;
}

.title-discription {
    position: absolute;
    bottom: 0;
    margin: 5%;
    padding: 1%;
}

.event-title {
    color: white;
    font-size: 2rem;
    transition: font-size 200ms;
}

.event-discription {
    color: white;
    opacity: 0;
    transition: opacity 200ms;
}

.event:hover {
    transform: scale(1.01);
}

.event:hover .event-title {
    font-size: 1.8rem;
}

.event:hover .event-discription {
    opacity: 1;
}

.event:hover .event-date {
    padding: 5px;
    font-size: .6rem;
}

.event:hover .events-section>:first-chid {
    transform: scale(1.1);
} */