:root {
    --textColor: white;
    --bgColor: #00010F;
    --accentColor: #64E8B0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--textColor);

}

body {
    background: var(--bgColor);
}

h3::selection,
p::selection {
    background: var(--accentColor);
    color: white;
}

.landing {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 40px;
}

.img1,
.img2 {
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1 {
    bottom: 0;
    left: 0;
    width: 50vw;
}

.img2 {
    top: 0;
    right: 0;
    width: 50vw;
    z-index: -10;
}

.landing-text {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-text h1,
.landing-text h3 {
    text-transform: uppercase;
}

#cia-title {
    font-size: 5rem;
    color: #64E8B0;
}

#hackathon {
    font-size: 4rem;
}

.fade {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    padding-bottom: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(transparent, rgb(0, 0, 5));
}

.fade span {
    position: relative;
    font-weight: bold;
    text-shadow: 0px 0px 30px black;
}

.fade .down-arrow {
    position: relative;
    margin-top: 5px;
    filter: invert();

    width: 25px;
    height: 25px;
    animation: bounce 1s infinite;
}

.landing-shade,.scroll-shade {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px;
    pointer-events: none;
    background: linear-gradient(to right, transparent, rgb(0, 0, 5));
    
}

@keyframes bounce {

    100%,
    0% {
        top: 10px;
    }

    50% {
        top: 0px;
    }
}



/* ABOUT */
.about {
    height: 100vh;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(0, 0, 5);
}

.about>h1 {
    color: var(--accentColor);
    margin-bottom: 5px;
}

.about>p {
    text-align: center;
    font-size: 1.4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: calc(1.4*1.4rem);
    color: rgba(255, 255, 255, 0.7);
}

/* CIA 2019 */
.cia19 {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.cia19 h1 {
    color: var(--accentColor);
}

/* FAQSECTION */
.faq {
    height: 100vh;
    background-color: rgb(0, 0, 5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions h1 {
    color: var(--accentColor);
}

.questions {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question {
    margin-top: 10px;
    line-height: 25px;
    width: 80%;
}

.question h3,
.question p {
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* SCHEDULE */
.schedule {
    background-color: rgb(0, 0, 5);
    height: auto;
    width: 100%;
    padding: 30px;

}

.schedule-title {
    width: 100%;
    height: 50px;
}

.schedule-section {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0px 10px 0px 10px;

}

.schedule-section>h3 {
    color: var(--accentColor);
    font-size: 1.5rem;
}

.day {

    height: auto;
    overflow: auto;
    white-space: nowrap;

    margin-top: 10px;
    margin-bottom: 10px;

}



.schedule-section>h3 :nth-child(1) {
    font-weight: 400;
}

.schedule-section>h3 :nth-child(2) {
    font-weight: 100;
    color: var(--accentColor);
}

.day :nth-child(1) {
    padding-left: 0;
}
.day :last-child{
    padding-right: 20px;
}

.schedule-card {
    margin-top: 20px;
    display: inline-block;
    width: auto;
    height: 100%;

    padding: 0px 20px 0px 20px;

}

.card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.card-content p {
    word-break: normal;
    white-space: normal;
    width: 400px;
}

.card-content h3,
.card-content p {
    margin: 10px 0 10px 0;
}

.card-content :nth-child(2) {
    font-weight: 100;
    color: var(--accentColor);
}

.card-content :nth-child(3) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
}

.card-content h3 {
    font-size: 1.5rem;
    font-weight: 400;
}


/* MOBILE */
@media only screen and (max-width: 600px) {
    .landing-text {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .landing-text h1,
    .landing-text h3 {
        margin-left: 20px;
        margin-top: 10px;
        text-transform: uppercase;
    }

    #cia-title {
        font-size: 3rem;
        color: #64E8B0;
    }

    #hackathon {
        font-size: 3rem;
    }

    .img1 {
        width: 90vw;
    }

    .img2 {
        width: 80vw;
    }

    .faq {
        height: 100vh;
        background-color: rgb(0, 0, 5);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .questions {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .questions h1 {
        margin-left: 40px;
        margin-right: 40px;
    }

}