:root {
    --textColor: white;
    --bgColor: #00010F;
    --accentColor: #64E8B0;
    --darkerBg: rgb(0, 0, 5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--textColor);

}

body {
    background: var(--bgColor);
}

h3::selection,
p::selection {
    background: var(--accentColor);
    color: white;
}

.landing {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 40px;
}

.img1,
.img2 {
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1 {
    bottom: 0;
    left: 0;
    width: 50vw;
}

.img2 {
    top: 0;
    right: 0;
    width: 50vw;
    z-index: -10;
}

.landing-text {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-text h1,
.landing-text h3 {
    text-transform: uppercase;
}

#cia-title {
    font-size: 5rem;
    color: #64E8B0;
}

#hackathon {
    font-size: 4rem;
}

.fade {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    padding-bottom: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(transparent, rgb(0, 0, 5));
}

.fade span {
    position: relative;
    font-weight: bold;
    text-shadow: 0px 0px 30px black;
}

.fade .down-arrow {
    position: relative;
    margin-top: 5px;
    filter: invert();

    width: 25px;
    height: 25px;
    animation: bounce 1s infinite;
}

.landing-shade,
.scroll-shade {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px;
    pointer-events: none;
    background: linear-gradient(to right, transparent, rgb(0, 0, 5));

}

@keyframes bounce {

    100%,
    0% {
        top: 10px;
    }

    50% {
        top: 0px;
    }
}



/* ABOUT */
.about {
    height: auto;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(0, 0, 5);
}

.about>h1 {
    color: var(--accentColor);
    margin-bottom: 5px;
}

.about>p {
    text-align: center;
    font-size: 1.4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: calc(1.2*1.2rem);
    color: rgba(255, 255, 255, 0.7);
}

/* CIA 2019 */
.cia19 {
    height: auto;

    padding: 50px;
    background: var(--darkerBg);

}

.cia19 h1 {
    color: var(--accentColor);

}

.photos-old {
    margin-top: 20px;

    overflow: auto;
    white-space: nowrap;

}

.img {
    display: inline-block;
    width: 100%;
    height: 70vh;
}

.img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.i1>img {
    object-fit: contain;
}

/* FAQSECTION */
.faq {
    height: 100vh;
    background-color: rgb(0, 0, 5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions h1 {
    color: var(--accentColor);
}

.questions {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question {
    margin-top: 10px;
    line-height: 25px;
    width: 80%;
}

.question h3,
.question p {
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* SCHEDULE */
.schedule {
    background-color: rgb(0, 0, 5);
    height: auto;
    width: 100%;
    padding: 30px;

}

.schedule-title {
    width: 100%;
    height: 50px;
}

.schedule-section {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0px 10px 0px 10px;

}

.schedule-section>h3 {
    color: var(--accentColor);
    font-size: 1.5rem;
}

.day {

    height: auto;
    overflow: auto;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;

    background: rgb(14, 14, 14);
    border-radius: 15px;
    padding-left: 15px;

}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
    border-radius: 0px;
}


::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .5);
    background: var(--accentColor);
    /* -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5); */
}

.schedule-section>h3 :nth-child(1) {
    font-weight: 400;
}

.schedule-section>h3 :nth-child(2) {
    font-weight: 100;
    color: var(--accentColor);
}

.day :nth-child(1) {
    padding-left: 0;
}

.day :last-child {
    padding-right: 20px;
}

.schedule-card {
    margin-top: 20px;
    display: inline-block;
    width: auto;
    height: 100%;

    padding: 0px 20px 0px 20px;

}

.card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

}

.card-content::after {
    content: "";
    position: absolute;
    background: var(--accentColor);
    top: 8px;
    height: 60px;
    width: 2px;
}

.card-content p {
    word-break: normal;
    white-space: normal;
    width: 400px;
}

.card-content h3,
.card-content p {
    margin: 10px 0 10px 10px;
}

.card-content :nth-child(2) {
    font-weight: 100;
    color: var(--accentColor);
}

.card-content :nth-child(3) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
}

.card-content h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

/* TRACKS */
.tracks {
    background-color: rgb(0, 0, 5);
    height: auto;
    width: 100%;
    padding: 30px;
    position: relative;
    /* background: orange; */

}

.track-title {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

.track-section {
    position: relative;
    height: auto;
    width: 100%;
    padding-left: 20px;
    display: flex;
    overflow-x: auto;
    padding-bottom: 15px;
    border-radius: 10px;
    background: rgb(15, 15, 15);

}

.track-section :nth-child(5) {
    padding-right: 50%;
}

.track-card {
    margin-top: 20px;
    display: inline-block;
    width: auto;
    height: 100%;
    padding-right: 20px;
    /* padding: 0px 20px 0px 20px; */
}

.track-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

}


.track-content p {
    word-break: normal;
    white-space: normal;
    width: 400px;
}

.track-content h1,
.track-content p {
    margin: 5px 0 0px 0px;
}

.track-content :nth-child(1) {
    font-weight: 600;
    color: var(--accentColor);
}

.track-content :nth-child(2) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
}

.track-content h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

.track-scroll-shade {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(to right, transparent, rgb(0, 0, 5));
    right: 0;
    bottom: 0;
    pointer-events: none;
}

/* SPONSORS */
.sponsor-section {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--darkerBg);

}

.sponsor-section>h1 {
    color: var(--accentColor);
}

.mlh-logo {
    margin-top: 30px;
    width: 200px;
}

.mlh-logo>img {
    width: 100%;
}

footer {

    width: 100%;
    height: auto;
    padding: 50px;

    background: rgb(10, 10, 15);

    display: flex;
    align-items: stretch;
}

.contact-section {
    height: 200px;
}

.contact-section>h3 {
    padding-bottom: 18px;
}

.contact-section>p {
    line-height: 22px;
}

.contact-section a {
    color: var(--accentColor);
}

/* MOBILE */
@media only screen and (max-width: 600px) {

    .track-content p {
        word-break: normal;
        white-space: normal;
        width: 300px;
        line-height: 1.5rem;
    }

    .track-section :last-child {
        padding-right: 20px;
    }

    .track-scroll-shade {
        position: absolute;
        width: 20%;
        height: 100%;
        z-index: 10;
        background: linear-gradient(to right, transparent, rgba(0, 0, 5, .7), rgb(0, 0, 5));
        right: 0;
        bottom: 0;
        pointer-events: none;
    }

    .landing-text {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .landing-text h1,
    .landing-text h3 {
        margin-left: 20px;
        margin-top: 10px;
        text-transform: uppercase;
    }

    #cia-title {
        font-size: 3rem;
        color: #64E8B0;
    }

    #hackathon {
        font-size: 3rem;
    }

    .img1 {
        width: 90vw;
    }

    .img2 {
        width: 80vw;
    }

    .faq {
        height: 100vh;
        background-color: rgb(0, 0, 5);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .questions {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .questions h1 {
        margin-left: 40px;
        margin-right: 40px;
    }

    .about {
        height: auto;
    }

    .about p {
        line-height: 25px;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 400px) {
    .faq {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}