* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    overflow: scroll;
}

@media only screen and (min-width: 600px) {
    header {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 2fr;
        background: black;
    }

    .one {
        grid-column: 1/2;
        color: white;
    }

    .two {
        grid-column: 2/3;
    }

    .one {
        background: #000a12;
        display: grid;
        width: 33.3333%;
        height: 100vh;
        position: fixed;
        grid-template-columns: 10% 1fr;

    }

    .navbar {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        grid-column: 2/3;
        font-size: 4rem;
        color: rgb(255, 255, 255);

    }

    .mainpage {
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10%;
    }
}

.navbar li {
    margin: 100% 0% 0% 30%;
    width: 20px;
    height: 20px;
    list-style: none;
}

.navbar li img {
    width: 100%;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    object-fit: contain;
}

.title p,
.title {
    transition: font-size 300ms ease, opacity 200ms ease;
}

.title p {
    font-size: 0rem;
}

.two {
    background: #285bd4;
    color: white;
    height: 500vh;
}



.mainpage h1 {
    margin: 2%;
}

.img {
    object-fit: contain;
    width: 80%;
}


.intro-sections {
    height: 100vh;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.resources img {
    width: 80%;
}



.mainpage p,
.mainpage h1 {
    text-align: center;
}



@media only screen and (max-width: 600px) {
    header {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-rows: 2fr 1fr;
        background: black;
    }

    .one {
        grid-row: 2/3;
        color: white;
    }

    .two {
        grid-row: 1/2;
    }

    .one {
        background: #000a12;
        display: grid;
        width: 100%;
        height: 33.3vh;
        position: fixed;
        grid-template-rows: 10% 1fr;

    }

    .navbar {
        grid-row: 1/2;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navbar li {
        margin: 10% 0% 0% 0%;
        width: 20px;
        height: 20px;
        list-style: none;
    }

    .mainpage {
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10%;
        padding-top: 40%;
    }
    .collab img{
        padding-top: 40%;
    }

}

.center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}